{% extends "layouts/base.html" %}

{% block title %} Relatorio {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Relatorios</h4>

			</div>
			<div class="row">

				<div class="col-md-12">
					<div class="card">

						<div class="card-body">
							<div class="row">
								<div class="col-5 col-md-4">
									<div class="nav flex-column nav-pills nav-secondary" id="v-pills-tab" role="tablist" aria-orientation="vertical">
										<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Agenda</a>
										<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Atendimento</a>
										<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Pacientes</a>
										<a class="nav-link" id="v-pills-financeiro-tab" data-toggle="pill" href="#v-pills-financeiro" role="tab" aria-controls="v-pills-financeiro" aria-selected="false">Financeiro</a>
										<a class="nav-link" id="v-pills-procedimento-tab" data-toggle="pill" href="#v-pills-procedimento" role="tab" aria-controls="v-pills-procedimento" aria-selected="false">Procedimentos</a>
										<a class="nav-link" id="v-pills-stock-tab" data-toggle="pill" href="#v-pills-stock" role="tab" aria-controls="v-pills-stock" aria-selected="false">Estoque</a>
									</div>
								</div>
								<div class="col-7 col-md-8">
									<div class="tab-content" id="v-pills-tabContent">
										<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
										<li><a>Agendamento por Agenda</a></li>
										<li>Agendamento por Status</li>
										<li>Agendamento por Convênio</li>
										<li>Agendamento por Pacientes</li>
										<li>Presenças por Pacientes</li>

											</div>
										<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
											<li><a>Atendimento por Profissional</a></li>
										</div>
										<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
											<li><a>Perfil dos Pacientes</a></li>
										<li>Relação de Pacientes</li>
										<li>Pacientes por Convênio</li>
										<li>Pacientes por Categoria</li>
										<li>Pacientes por Profissional</li>
										<li>Aniversariantes do Mês</li>


										</div>
										<div class="tab-pane fade" id="v-pills-financeiro" role="tabpanel" aria-labelledby="v-pills-financeiro-tab">
											<li><a>Fluxo de Caixa</a></li>
										<li>Saldo por Conta/Caixa</li>
										<li>Movimentações por Mês</li>
										<li>Movimentações por Tipos</li>
										<li>Movimentações por Fornecedor</li>
										<li>Contas a Pagar/Receber</li>


										</div>
										<div class="tab-pane fade" id="v-pills-procedimento" role="tabpanel" aria-labelledby="v-pills-procedimento-tab">
											<li><a>Procedimentos realizados</a></li>
										<li>Procedimentos por Convênio</li>
										<li>Procedimentos por Profissional</li>
										<li>Procedimentos não faturados</li>

										</div>
										<div class="tab-pane fade" id="v-pills-stock" role="tabpanel" aria-labelledby="v-pills-stock-tab">
											<li><a>Relação de Produtos</a></li>
										<li>Movimento de Estoque</li>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
