{% extends "layouts/base.html" %}

{% block title %} Paciente {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">

				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Paciente</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Perfil</a>
					</li>
				</ul>
			</div>
			<div class="row">

<div class="col-md-3">
	<div class="card-header" style="background-image: url('/static/assets/img/blogpost.jpg')">
							<div class="profile-picture">
								<div class="avatar avatar-xl">
									<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
							</div>
						</div>
					<div class="card">

						<div class="card-body">
							<div class="user-profile text-center">
								<div class="name"><b> {{ paciente.nome }}</b></div>
								<div class="job">{{ paciente.data_nascimento }}</div>
								<div class="desc">  {{ paciente.sexo }} </div>

								<div class="view-profile">

								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="row user-stats text-center">
								<div class="col">
									<div class="number">125</div>
									<div class="title">Post</div>
								</div>
								<div class="col">
									<div class="number">25K</div>
									<div class="title">Followers</div>
								</div>
								<div class="col">
									<div class="number">134</div>
									<div class="title">Following</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card">

						<div class="card-body">
							<ul class="nav nav-pills nav-secondary nav-pills-no-bd" id="pills-tab-without-border" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-home-tab-nobd" data-toggle="pill" href="#pills-home-nobd" role="tab" aria-controls="pills-home-nobd" aria-selected="true">Principal</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-empresa-tab-nobd" data-toggle="pill" href="#pills-empresa-nobd" role="tab" aria-controls="pills-home-nobd" aria-selected="true">Detalhes</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-profile-tab-nobd" data-toggle="pill" href="#pills-profile-nobd" role="tab" aria-controls="pills-profile-nobd" aria-selected="false">Procedimento</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab-nobd" data-toggle="pill" href="#pills-contact-nobd" role="tab" aria-controls="pills-contact-nobd" aria-selected="false">Produtos</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-fiscal-tab-nobd" data-toggle="pill" href="#pills-fiscal-nobd" role="tab" aria-controls="pills-contact-nobd" aria-selected="false">Pagamento</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-salary-tab-nobd" data-toggle="pill" href="#pills-salary-nobd" role="tab" aria-controls="pills-salary-nobd" aria-selected="false">Consultas</a>


							</ul>
							<div class="tab-content mt-2 mb-3" id="pills-without-border-tabContent">

								<div class="tab-pane fade show active" id="pills-home-nobd" role="tabpanel" aria-labelledby="pills-home-tab-nobd">
									<div class="form-group ">
										<label for="nome" class="placeholder">Nome</label>
										<input id="nome" type="text" class="form-control " required value="{{ paciente.nome }}">

									<div class="dropdown-divider"></div>
										<div class="row">
											  <div class="col">
												  <label for="sexo" class="placeholder">Sexo</label>
												  <input id="sexo" type="text" class="form-control" value="{{ paciente.sexo }}" required >
											  </div>
											  <div class="col">
												  <label for="data_nascimento" class="placeholder">Data Nascimento</label>
												  <input id="data_nascimento" type="text" class="form-control" value="{{ paciente.data_nascimento }}" >
											  </div>
											 <div class="col">
												  <label for="naturalidade" class="placeholder">Naturalidade</label>
												  <input id="naturalidade" type="text" class="form-control" value="{{ paciente.naturalidade }}" >
											  </div>
										 </div>
										<div class="dropdown-divider"></div>
										<div class="row">
											  <div class="col">
												  <label for="numero_documento" class="placeholder">Numero Documento</label>
												  <input id="numero_documento" type="text" class="form-control"  value="{{ paciente.numero_doc }}" >
											  </div>
											  <div class="col">
												  <label for="nif" class="placeholder">NIF</label>
												  <input id="nif" type="text" class="form-control"  value="{{ paciente.nif }}">
											  </div>
										 </div>

									</div>
						<div class="card-action">
							<button type="submit" class="btn btn-success">Alterar</button>

						</div>

								</div>
								<div class="tab-pane fade" id="pills-empresa-nobd" role="tabpanel" aria-labelledby="pills-empresa-tab-nobd">
									<div class="row">
											  <div class="col">
												  <label for="criado_em" class="placeholder">Criado Em</label>
												  <input id="criado_em" type="text" class="form-control" value="{{ paciente.criado_em }}" required >
											  </div>
											  <div class="col">
												  <label for="fator_sanguino" class="placeholder">Fator Sanguino</label>
												  <input id="fator_sanguino" type="text" class="form-control" value="{{ paciente.fator_sanguino }}" >
											  </div>
											 <div class="col">
												  <label for="etnia" class="placeholder">Etnia</label>
												  <input id="etnia" type="text" class="form-control" value="{{ paciente.etnia }}" >
											  </div>
										 </div>

										<div class="dropdown-divider"></div>
									<div class="row">
											  <div class="col">
												  <label for="mae" class="placeholder">Nome da Mãe</label>
												  <input id="mae" type="text" class="form-control" value="{{ paciente.mae }}" required >
											  </div>
											  <div class="col">
												  <label for="pai" class="placeholder">Nome do Pai</label>
												  <input id="pai" type="text" class="form-control" value="{{ paciente.pai }}" >
											  </div>

									</div>

								<div class="dropdown-divider"></div>
								<div class="row">
											  <div class="col">
												  <label for="escolaridade" class="placeholder">Escolaridade</label>
												  <input id="escolaridade" type="text" class="form-control" value="{{ paciente.escolaridade }}" required >
											  </div>
											  <div class="col">
												  <label for="profissao" class="placeholder">Profissao</label>
												  <input id="profissao" type="text" class="form-control" value="{{ paciente.profissao }}" >
											  </div>
									<div class="col">
												  <label for="entidade_patronal" class="placeholder">Entidade Patronal</label>
												  <input id="entidade_patronal" type="text" class="form-control" value="{{ paciente.entidade_patronal }}" >
											  </div>

										 </div>

								<div class="dropdown-divider"></div>
								<div class="row">
											  <div class="col">
												  <label for="obs" class="placeholder">Observação</label>
												  <textarea id="obs" type="text" class="form-control" value="{{ paciente.obs }}"  ></textarea>
											  </div>


										 </div>
									<div class="card-action">
							<button type="submit" class="btn btn-success">Alterar</button>

						</div>
									</div>
								<div class="tab-pane fade" id="pills-profile-nobd" role="tabpanel" aria-labelledby="pills-profile-tab-nobd">
									<table class="table mt-3">
								<thead>
									<tr>
										<th scope="col">Data</th>
										<th scope="col">Procedimento</th>
										<th scope="col">Convênio</th>
										<th scope="col">Valor</th>
										<th scope="col">Pagamento</th>
									</tr>
								</thead>
								<tbody>


								</tbody>
							</table>
								</div>
								<div class="tab-pane fade" id="pills-contact-nobd" role="tabpanel" aria-labelledby="pills-contact-tab-nobd">
									<table class="table mt-3">
								<thead>
									<tr>
										<th scope="col">Data</th>
										<th scope="col">Produto</th>
										<th scope="col">Quantidade</th>
										<th scope="col">Valor Unit</th>
										<th scope="col">Subtotal</th>
										<th scope="col">Pagamento</th>
									</tr>
								</thead>
								<tbody>


								</tbody>
							</table>
								</div>
								<div class="tab-pane fade" id="pills-fiscal-nobd" role="tabpanel" aria-labelledby="pills-fiscal-tab-nobd">
									<div class="col-sm-9 col-md-12">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">Contas a Receber
									<div class="icon-big text-center">

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
									<div class="col-sm-9 col-md-12">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">Histórico
									<div class="icon-big text-center">

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
								</div>
								<div class="tab-pane fade" id="pills-salary-nobd" role="tabpanel" aria-labelledby="pills-salary-tab-nobd">
									<table class="table mt-3">
								<thead>
									<tr>
										<th scope="col">Agenda</th>
										<th scope="col">Data</th>
										<th scope="col">Hora</th>
										<th scope="col">Status</th>
										<th scope="col">Observações</th>
										<th scope="col">Ações</th>
									</tr>
								</thead>
								<tbody>


								</tbody>
							</table>

							</div>
						</div>
					</div>
				</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
