{% extends "layouts/base.html" %}

{% block title %} Paciente {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">

				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Paciente</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Perfil</a>
					</li>
				</ul>
			</div>
			<div class="row">

<div class="col-md-3">
	<div class="card-header" style="background-image: url('/static/assets/img/blogpost.jpg')">
							<div class="profile-picture">
								<div class="avatar avatar-xl">
									<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
							</div>
						</div>
					<div class="card">

						<div class="card-body">
							<div class="user-profile text-center">
								<div class="name"><b> {{ paciente.nome }}</b></div>
								<div class="job">{{ paciente.data_nascimento }}</div>
								<div class="desc">  {{ paciente.sexo }} </div>

								<div class="view-profile">

								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="row user-stats text-center">
								<div class="col">
									<div class="number">125</div>
									<div class="title">Post</div>
								</div>
								<div class="col">
									<div class="number">25K</div>
									<div class="title">Followers</div>
								</div>
								<div class="col">
									<div class="number">134</div>
									<div class="title">Following</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card">

						<div class="card-body">
							<ul class="nav nav-pills nav-secondary nav-pills-no-bd" id="pills-tab-without-border" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-home-tab-nobd" data-toggle="pill" href="#pills-home-nobd" role="tab" aria-controls="pills-home-nobd" aria-selected="true">Principal</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-empresa-tab-nobd" data-toggle="pill" href="#pills-empresa-nobd" role="tab" aria-controls="pills-home-nobd" aria-selected="true">Detalhes</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-profile-tab-nobd" data-toggle="pill" href="#pills-profile-nobd" role="tab" aria-controls="pills-profile-nobd" aria-selected="false">Procedimento</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab-nobd" data-toggle="pill" href="#pills-contact-nobd" role="tab" aria-controls="pills-contact-nobd" aria-selected="false">Produtos</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-fiscal-tab-nobd" data-toggle="pill" href="#pills-fiscal-nobd" role="tab" aria-controls="pills-contact-nobd" aria-selected="false">Pagamento</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-salary-tab-nobd" data-toggle="pill" href="#pills-salary-nobd" role="tab" aria-controls="pills-salary-nobd" aria-selected="false">Consultas</a>


							</ul>
							<div class="tab-content mt-2 mb-3" id="pills-without-border-tabContent">

								<div class="tab-pane fade show active" id="pills-home-nobd" role="tabpanel" aria-labelledby="pills-home-tab-nobd">
									<div class="form-group ">
										<label for="nome" class="placeholder">Nome</label>
										<input id="nome" type="text" class="form-control " required value="{{ paciente.nome }}">

<div class="dropdown-divider"></div>
										<div class="row">
											  <div class="col">
												  <label for="mae" class="placeholder">Nome Mãe</label>
												  <input id="mae" type="text" class="form-control" required >
											  </div>
											  <div class="col">
												  <label for="pai" class="placeholder">Nome Pai</label>
												  <input id="pai" type="text" class="form-control"  >
											  </div>
										 </div>
										<div class="row">
											  <div class="col">
												  <label for="nacionalidade" class="placeholder">Nacionalidade</label>
												  <input id="nacionalidade" type="text" class="form-control" required >
											  </div>
											  <div class="col">
												  <label for="naturalidade" class="placeholder">Naturalidade</label>
												  <input id="naturalidade" type="text" class="form-control"  >
											  </div>
										 </div>

									</div>


								</div>
								<div class="tab-pane fade" id="pills-empresa-nobd" role="tabpanel" aria-labelledby="pills-empresa-tab-nobd">
									<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
									</p>
								</div>
								<div class="tab-pane fade" id="pills-profile-nobd" role="tabpanel" aria-labelledby="pills-profile-tab-nobd">
									<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
									</p>
								</div>
								<div class="tab-pane fade" id="pills-contact-nobd" role="tabpanel" aria-labelledby="pills-contact-tab-nobd">
									<p>Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>

									<p> But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their</p>
								</div>
								<div class="tab-pane fade" id="pills-fiscal-nobd" role="tabpanel" aria-labelledby="pills-fiscal-tab-nobd">
									<p>Fiscal a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>

									<p> But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their</p>
								</div>
								<div class="tab-pane fade" id="pills-salary-nobd" role="tabpanel" aria-labelledby="pills-salary-tab-nobd">
									<p>Salary a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>

									<p> But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their</p>
								</div>

							</div>
						</div>
					</div>
				</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
